


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/img/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li ><a href="#"></a></li>
          <li ><a href="#"></a></li>
          
        </ul>
       
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      
      <ul class="nav nav-pills nav-stacked">
        <li class="clearfix dashboard"><a href="/dashboard">Dashboard</a></li>
        <li class="clearfix expense"><a href="/expense"  id="expense">Expense</a></li>
        <li class="clearfix income"><a href="/income" id="income">Update-Income</a></li>
        <li class="clearfix reports"><a href="/reports" id="report">Reports</a></li>
      </ul><br>
    </div>
    <br>
      {{#if hbdashboard }}
      <div class="col-sm-9">
      <div class="card border-dark mb-3">
        <div class="card-header">User</div>
          <div class="card-body text-dark">
            <table>
                <tr>
                  <th>spent-At</th>
                  <th>Amount</th>
                  <th>Payment-Mode</th>
                  <th>Category</th>
                  <th>Remarks</th>
                  <th>Bill-Date</th>

                </tr>
              {{#each user}}
                  <tr>
                  <td>{{this.spentAt}}</td>
                  <td>{{this.amount}}</td>
                  <td>{{this.paymentMode}}</td>
                  <td>{{this.category}}</td>
                  <td>{{this.remarks}}</td>
                  <td>{{this.billDate}}</td>

                </tr>
              {{/each}}
              
            </table>
          </div>
        </div>
      </div>
    {{/if}}
    <!--{{#if hbdashboard }}
    <div class="col-sm-9 formData">
        <canvas id="canvas"></canvas>
    </div>
    {{/if}}-->

    {{#if hbexpense }}
    <div class="col-sm-9 formData">
       
          <form class="needs-validation dataForm" novalidate>
            <div class="form-group row">
              <label for="amount" class="col-sm-2 col-form-label">Amount</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="amount" placeholder="Amount" required>
              </div>
            </div>
            <div class="form-group row">
                <label for="categories" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" list="categories" name="category" id="category">
                    <datalist id="categories">
                    
                        {{#each expense}}
                        <option value="{{this.category_name}}">
                        {{/each}}

                  </datalist>
                </div>
              </div>
              <div class="form-group row">
                <label for="spentAt" class="col-sm-2 col-form-label">Spent-at</label>
                <div class="col-sm-6">
                  <input type="spentAt" class="form-control" id="spentAt" placeholder="Spent-at" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-6">
                  <input type="remarks" class="form-control" id="remarks" placeholder="Remarks" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Bill-Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="date" placeholder="Bill Date" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="date" class="col-sm-2 col-form-label">Payment Mode</label>
                <div class="col-sm-6">
                  <input type="paymentMode" class="form-control" id="paymentMode" placeholder="Mode of Payment" required>
                </div>
              </div>
            
            <div class="form-group row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
      
  </div>
  {{/if}}
  {{#if hbincome }}
    <h1>Update Income</h1>
    <div class="col-sm-9 formData">
       
          <form class="needs-validation incomeForm" novalidate>
            <div class="form-group row">
              <label for="income" class="col-sm-2 col-form-label">Enter Income</label>
              <div class="col-sm-6">
              <input type="text" class="form-control" id="income" placeholder="Enter new Income" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Update Income</button>
            </div>
            </div>
            </form>
            </div>
  {{/if}}

  
    {{#if hbreportsform}}
    <div class="col-sm-9 formData">
          <form class="needs-validation reportsForm" novalidate>
            <div class="form-group row">
                <label for="firstDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="firstDate" placeholder="Enter First Date" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="secondDate" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-6">
                  <input type="date" class="form-control" id="secondDate" placeholder="Enter Second Date" required>
                </div>
              </div>
              <div class="form-group row">
              <div class="col-sm-6">
                <button type="button" class="btn btn-primary reportBtn">Submit</button>
              </div>
            </div>
            
            </form>
             <div class="col-sm-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Category</th>
                  <th scope="col">Amount</th>
                </tr>
                <tbody id="userReport"></tbody>
            </thead>
         </table>
         </div>
         <canvas id="canvas"></canvas>
            </div>
    {{/if}}
      
        
</div>
</div>
<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
